<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>フラッシュ暗算</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="app">
        <div class="game-container">
            <h1 v-if="!playing">フラッシュ暗算</h1>
            <div class="settings">
                <label v-if="!playing">表示間隔(ms):</label>
                <input type="number" v-model="interval" min="10" max="2000" step="10" v-if="!playing">
                <label v-if="!playing">最小値:</label>
                <input type="number" v-model="minValue" min="1" max="1000" v-if="!playing">
                <label v-if="!playing">最大値:</label>
                <input type="number" v-model="maxValue" min="1" max="1000" v-if="!playing">
                <label v-if="!playing">個数:</label>
                <input type="number" v-model="numCount" min="1" max="50" v-if="!playing">
            </div>
            <div v-if="showNumber" class="number-display">
                {{ currentNumber }}
            </div>
            <input v-if="!playing" type="number" v-model="userAnswer" placeholder="答えを入力" @keyup.enter="checkAnswer">
            <button @click="startGame" v-if="!playing">開始</button>
            <p v-if="result !== null">{{ result }}</p>
        </div>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="app.js"></script>
</body>
</html>